.my-component {
    border: 2px dashed red;
    contain: content;
    background-image: url('background.png');
    min-height: 500px;
    height: 800px;
}

#content {
    /*contain: content;*/ /* or contain: content; depending on your specific needs */
    /*background-image: url('background.png');*/
    min-height: 500px;
    height: 800px;
}
