@using static Microsoft.AspNetCore.Components.Web.RenderMode;
@rendermode InteractiveServer

@using Microsoft.JSInterop;

<div class="embed-responsive">
    <div class="my-component">
        <div id="mapper">
            <div id="content">
                <div id="toolbar">
                    <input id="source-file" type="file" />
                </div>
                <div id="paper"></div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
</div>

<iframe >

</iframe>

<div class="content embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>

<iframe src="https://www.wikipedia.org" ></iframe>



@code {

}