@using static Microsoft.AspNetCore.Components.Web.RenderMode;
@rendermode InteractiveServer

@* TODO: INJECT CostumerDbModelManager, get the db Model and pass it to the mapper. Also we need to call create model somewhere*@

@using Microsoft.JSInterop;

<div class="embed-responsive">
    <div class="my-component">
        <div id="mapper">
            <link rel="stylesheet" type="text/css" href="_content/BIManagement.Modules.DataIntegration.MapperComponent/dist/style.css" />
            <div id="content">
                <div id="toolbar">
                    <input id="source-file" type="file" />
                </div>
                <div id="paper"></div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
</div>

@* todo: remove *@
<button @onclick="() => OnAfterRenderAsync(true)">retry</button>
