@using static Microsoft.AspNetCore.Components.Web.RenderMode;
@rendermode InteractiveServer

@using Microsoft.JSInterop;

<div class="my-component">
    <div id="toolbar">
        <input id="source-file" type="file" />
    </div>
    <div id="content">
        <div id="paper"></div>
    </div>
    <div id="overlay"></div>
</div>



@code {

}