@using static Microsoft.AspNetCore.Components.Web.RenderMode;
@rendermode InteractiveServer

@using Microsoft.JSInterop;

<div class="embed-responsive">
    <div class="my-component">
        <div id="mapper">
            <link rel="stylesheet" type="text/css" href="_content/MapperPages/dist/style.css" />
            <div id="content">
                <div id="toolbar">
                    <input id="source-file" type="file" />
                </div>
                <div id="paper"></div>
            </div>
            <div id="overlay"></div>
        </div>
    </div>
</div>

@code {

}