@* Not using @page directive to utilize static routes class *@
@attribute [Route(Routes.MappingProjectInfo)]
<PageTitle>Mapping Project</PageTitle>
<h3>Mapping Project</h3>

@code {
    [Parameter]
    public string id { get; set; } = string.Empty;
}
