@* Not using @page directive to utilize static routes class *@
@attribute [Route(Routes.CostumersConfigureDbConnction)]

<h3>DatabaseConnectionConfiguration</h3>

<BIManagement.Modules.DataIntegration.Pages.Common.DatabaseConnectionConfigurationForm />
