@using BIManagement.Common.Shared.Results
@using BIManagement.Modules.Users.Application.UserManagement
@using BIManagement.Modules.Users.Domain
@using BIManagement.Modules.Users.Pages.Users.Components
@inject IUserManager UserManager

@* Not using @page directive to utilize static routes class *@
@attribute [Route(Routes.AddAdmin)]
<PageTitle>Add Admin</PageTitle>

<h1>Add admin</h1>

<AddUser RegisterUserFunc=RegisterAdmin ReturnUrl=@Routes.Admins />
@code {
    private Task<Result<ApplicationUser>> RegisterAdmin(string email, string name)
    {
        return UserManager.CreateAdminAsync(email, name);
    }
}
