@* Not using @page directive to utilize static routes class *@
@attribute [Route(Routes.Deployment)]
@* @attribute [StreamRendering] *@

<PageTitle>Deployment</PageTitle>

<h3>Deployment</h3>

<p>
    You can either generate SQL needed for deploying the database views or automatically deploy them also with instance of Metabase.
</p>


<button class="btn btn-primary" @onclick="Deploy">Generate Views</button>

@if (views != null)
{
    <code lang="sql">@views</code>
}

<button class="btn btn-primary" @onclick="Deploy">Automatically deploy views and Metabase</button>

@if (deploymentResult != null)
{
    <p>@deploymentResult</p>
    @if (metabaseLink  != null)
    {
        <a href="@metabaseLink">click here to open Metabase</a>
    }
}

@code {
    private string? views;
    private string? deploymentResult;
    private string? metabaseLink;
    
    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        // todo: deploy
    }

    private async Task Deploy()
    {
        
    }

}
