@using Microsoft.AspNetCore.Components
@using System.Collections.Generic

@* <div class="submenu">
    <button @onclick="ToggleSubMenu">Toggle Submenu</button>
    @if (showSubMenu)
    {
        <ul>
            @foreach (var item in submenuItems)
            {
                <li>@item</li>
            }
        </ul>
    }
</div> *@

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="@label-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @label
    </a>
    <ul class="dropdown-menu" aria-labelledby="@label-dropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>

<div class="nav-submenu mb-1">
    <div class="nav-item btn-toggle d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#@label-collapse" aria-expanded="false">
        2
        @label
    </div>
    <div class="collapse" id="@label-collapse">
        <div class="nav-link px-3">
            <span class="bi bi-plus-square-fill-nav-menu"> </span>Counter
        </div>
        <div class="border-top my-3"></div>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public string label { get; set; } = string.Empty;

    private bool showSubMenu = false;
    private List<string> submenuItems = new List<string> { "Item 1", "Item 2", "Item 3" };

    private void ToggleSubMenu()
    {
        showSubMenu = !showSubMenu;
    }
}
