@using BIManagement.Modules.DataIntegration.MapperComponent
@using System.Linq;
@using System.Reflection;
@using Microsoft.AspNetCore.Authorization

@page "/"


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
