@using System.Linq;
@using System.Reflection;
@using BIManagement.Modules.Users.Api.Authorization.Views
@using Microsoft.AspNetCore.Authorization

@page "/"


<PageTitle>Home</PageTitle>

<AuthorizeAdminView>
    <Authorized>
        <h1>Welcome Admin</h1>
        <p>
            Use the side bar to navigate through the application.
        </p>
    </Authorized>
</AuthorizeAdminView>


<AuthorizeCustomerView>
    <Authorized>
        <h1>Welcome to Metabase SaaS platform</h1>
        <p>
            To deploy Metabase, start in Data integration by configuring connection to your database - Database connection configuration.
            Specify the connection details and create database model.
            Continue to Mapper to map the database model to Metabase model.
        </p>
        <p>
            Then, deploy the views in the section Deployment, link Metabase Deployment.
            Finally deploy Metabase on the same page along with configuring the default admin credentials for Metabase.

        </p>

    </Authorized>
</AuthorizeCustomerView>