@using BIManagement.Common.Components.Layout
@using BIManagement.Modules.DataIntegration.Pages
@inject NavigationManager NavigationManager

<Router AppAssembly="typeof(Program).Assembly" >
   @* AdditionalAssemblies="new[] { Modules.DataIntegration.Pages.AssemblyReference.Assembly } *@
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(BIManagement.Common.Components.Layout.MainLayout)">
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>

    <NotFound>
        <h1>404 Not Found</h1>
    </NotFound>
</Router>


@code {
    void RedirectToLogin()
        => NavigationManager.NavigateTo($"Account/Login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}", forceLoad: true);
}