@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@using Microsoft.AspNetCore.Components.Routing


<div class="nav-item ">
    <NavLink class="nav-link" href="@href" >
        <div class="bi">
            @ChildContent
        </div>
        @label
    </NavLink>
</div>


@code {
    [Parameter, EditorRequired]
    public string label { get; set; } = string.Empty;

    // TODO: Use href parameter
    [Parameter, EditorRequired]
    public string href { get; set; } = string.Empty;

    /// <summary>
    /// The logo icon to display in the menu.
    /// </summary>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
