@using Microsoft.AspNetCore.Components
@using System.Collections.Generic
@using Microsoft.AspNetCore.Components.Routing


<div class="nav-submenu mb-1">
    <div class="nav-item  px-3">
        <div class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#@label-collapse" aria-expanded="false">
            <span class="bi bi-plus-square-fill-nav-menu"> </span>
            @label
        </div>
    </div>
    <div class="collapse" id="@label-collapse">
        <div class="pl-5 pr-3">
            @body
        </div>
        <div class="border-top my-3"></div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public string label { get; set; } = string.Empty;

    private bool showSubMenu = false;
    private List<string> submenuItems = new List<string> { "Item 1", "Item 2", "Item 3" };

    private void ToggleSubMenu()
    {
        showSubMenu = !showSubMenu;
    }
}
